@{
    Layout = "_WithoutHeader";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollable Catalog</title>
    <!-- Link to CSS -->
    <link href="~/css/catalog.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="container-fluid mt-5">
        <div class="row catalog-slider">
            <div class="col-1 d-flex justify-content-center align-items-center">
                <i class="material-icons arrow-buttons md-36 scroll-left p-5" id="">arrow_back_ios</i>
            </div>
            <div class="col-10">
                <h1 class="category-heading res-text">BooksCategory</h1>
                <div class="d-flex catalog-container">

                    <img class="catalog-item" src="https://placehold.co/200x300?text=1" />
                    <img class="catalog-item" src="https://placehold.co/200x300?text=2" />
                    <img class="catalog-item" src="https://placehold.co/200x300?text=3" />
                    <img class="catalog-item" src="https://placehold.co/200x300?text=4" />
                    <img class="catalog-item" src="https://placehold.co/200x300?text=5" />
                    <img class="catalog-item" src="https://placehold.co/200x300?text=6" />
                    <img class="catalog-item" src="https://placehold.co/200x300?text=7" />
                    <img class="catalog-item" src="https://placehold.co/200x300?text=8" />
                    <img class="catalog-item" src="https://placehold.co/200x300?text=9" />
                    <img class="catalog-item" src="https://placehold.co/200x300?text=10" />
                    <img class="catalog-item" src="https://placehold.co/200x300?text=11" />

                </div>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center">
                <i class="material-icons arrow-buttons md-36 scroll-right" id="">arrow_forward_ios</i>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Your script -->
    <script src="~/js/catalog.js"></script>
</body>
</html>