@model List<BooksViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollable Catalog</title>
    <!-- Link to CSS -->
    <link href="~/css/catalog.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Pen+Script&family=Patrick+Hand&display=swap" rel="stylesheet">
</head>
<body class="bg-dark">



    



    @foreach (var item in Model)
        @if (item.CategoryName != null)
        {
                   
            {
                <div class="container-fluid mt-5 mx-1">
                    <div class="row catalog-slider align-items-center">
                        <div class="d-none d-md-flex justify-content-center col-md-1">
                            <i class="material-icons arrow-buttons scroll-left">arrow_back_ios</i>
                        </div>
                        <div class="col-12 col-md-10">
                            <h1 class="category-heading res-text mb-4">@item.CategoryName</h1>
                            <div class="catalog-container">
            
                                    @foreach (var Books in item.BookCategory)
                                    {
                                        <div class="grow-hover">

                                        <a class="catalog-anchor" data-bs-toggle="modal" data-bs-target="#BookPreviewModal"><img class="catalog-item" src="@Books.ImageSource" /></a>
                                        </div>
                                    }

                            </div>
                        </div>
                        <div class="d-none d-md-flex justify-content-center col-md-1">
                            <i class="material-icons arrow-buttons scroll-right">arrow_forward_ios</i>
                        </div>
                    </div>
                </div>
            }

        }

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal fade" id="BookPreviewModal" tabindex="-1" aria-labelledby="BookPreviewLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    ...
                </div>

            </div>
        </div>
    </div>
    </div>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Your script -->
    <script src="~/js/catalog.js"></script>
</body>
</html>
