@model List<BooksViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrollable Catalog</title>
    <!-- Link to CSS -->
    <link href="~/css/catalog.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Patrick+Hand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Pen+Script&family=Patrick+Hand&display=swap" rel="stylesheet">
</head>
<body class="bg-dark">



    <div class="container bg-light p-5">
        <div class="row">
            <div class="col-4"> 
                <img style="width: 250px; border-radius: 15px;" class="" src="/Books/Cover/0c92b066-8ab1-4aae-9053-aeb425154a52(5) Harry Potter & The Order Of The Pheonix.jpg"/>
            </div>
            <div class="col-8">
                <h1 class="title muted text-start text-dark">Best Of This Week</h1>
            </div>
        </div>
    </div>
    



    @foreach (var item in Model)
        @if (item.CategoryName != null)
        {
                   
            {
                <div class="container-fluid mt-5 mx-1">
                    <div class="row catalog-slider align-items-center">
                        <div class="d-none d-md-flex justify-content-center col-md-1">
                            <i class="material-icons arrow-buttons scroll-left">arrow_back_ios</i>
                        </div>
                        <div class="col-12 col-md-10">
                            <h1 class="category-heading res-text mb-4">@item.CategoryName</h1>
                            <div class="catalog-container">
            
                                    @foreach (var Books in item.BookCategory)
                                    {
                                        <div class="grow-hover">
                                            <a class="catalog-anchor"><img class="catalog-item" src="@Books.ImageSource" /></a>
                                        </div>
                                    }

                            </div>
                        </div>
                        <div class="d-none d-md-flex justify-content-center col-md-1">
                            <i class="material-icons arrow-buttons scroll-right">arrow_forward_ios</i>
                        </div>
                    </div>
                </div>
            }

        }
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Your script -->
    <script src="~/js/catalog.js"></script>
</body>
</html>
