@{
    ViewData["Title"] = "Home Page";
}

@* <head>
    <title>@ViewData["Title"] - Bookstore</title>
    <link href="~/css/home.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bookstore.styles.css" asp-append-version="true" />
    
</head> *@



    <div class="px-4 py-5 text-center mt-5 border-bottom border-5 dSection">
       <img class="d-block mx-auto mb-1 image-fluid" src="/Assets/Images/logo.png" alt="" width="102" height="87">
        <h1 class="display-5 fw-bold text-body-emphasis">Unlimited Text Books, Audio Books and More</h1>

            <p class="lead mb-4 resText">Read Anywhere. Cancel Anytime.</p>           
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/Home/catalog"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Explore Catalog</button></a>
            <a href="/Account/SignUp"><button type="button" class="btn btn-primary btn-lg px-4 gap-">Start Membership</button></a>
            </div>
            @* <p class="mt-2">Ready to get started? Start Your Membership Now.</p> *@
    </div>

    <div class="border-bottom border-5">
        <div class=" mx-2 my-3">
        <div class="row-cols-2 d-flex flex-row">
            <div class="col-7 mx-2 d-flex justify-content-center align-items-center flex-column">
                <h1 class="headings2 text-center">Enjoy Books At Your Comfort</h1>
                <p class="lead resText text-center mx-5">Read on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more. </p>
            </div>
            <div class="col-5 d-flex justify-content-center">
                <img class="img-fluid round-h" src="/Assets/Images/carolynnyoe.gif"/>
            </div>
        </div>
        </div>
    </div>

<div class=" mx-2 mt-3">
    <div class="row-cols-2 d-flex flex-row">
        <div class="col-5 d-flex justify-content-center">
            <img class="img-fluid round-h" src="/Assets/Images/iBooks (1).gif" style="max-width: 400px;"/>
        </div>
        <div class="col-7 mx-2 d-flex justify-content-center align-items-center flex-column">
            <h1 class="headings2 text-center">Download & Read Offline</h1>
            <p class="lead resText text-center mx-3">Save your favorites easily and always have something to read.</p>
        </div>
    </div>
</div>
    

