body {
    background-color: #141414;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    text-align: center;
    color: white;
    font-weight: 800;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.catalog-container {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.category-heading {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-left: -5vw;
    font-weight: 600;
    font-size: 2.5rem;
}

.catalog-item {
    margin-right: 20px;
    aspect-ratio: 2 / 3;
    width: 180px;
    height: auto;
    border-radius: 8px;
transition: width 0.2s;
    overflow: hidden; /* Ensure the rounded corners are preserved */
}

.catalog-item:hover {
    width: 210px ;
    transition: width 0.35s;
    transition-delay: 1s;

}

.search-ico {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;

}

@keyframes increaseWidth {
    to {width: 210px;}
}

@keyframes decreaseWidth {
    

    to {width: 180px;}
}

.arrow-buttons {
    font-size: 36px;
    color: white;
    cursor: pointer;
    z-index: 2000;
}

@media (max-width: 1200px) {
    .catalog-item {
        width: 180px;
    }

    .category-heading {
        font-size: 2rem;
    }

    .catalog-item:hover {
        transform: translateZ(5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow to enhance the pop out effect */
        width: 195px;
    }

}

@media (max-width: 992px) {
    .catalog-item {
        width: 150px;
    }

    .category-heading {
        margin-left: -3.5vw;
    }

    .catalog-item:hover {
        transform: translateZ(5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow to enhance the pop out effect */
        width: 170px;
    }

}

@media (max-width: 768px) {
    .catalog-item {
        width: 120px;
    }

    .category-heading {
        margin-left: 0;
        text-align: center;
    }

    .catalog-container {
        overflow: scroll;
        overflow-y: hidden;
        padding-bottom: 5px;
    }
    .catalog-item:hover {
        transform: translateZ(5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow to enhance the pop out effect */
        width: 140px;
    }

    .arrow-buttons {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .side-con {
        flex: 0 0 10%;
    }

    .arrow-buttons {
        font-size: 18px;
    }

}

/* MD breakpoint adjustments */
@media (max-width: 992px) {
    .side-con {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

        .side-con.scroll-left {
            left: 10px;
        }

        .side-con.scroll-right {
            right: 10px;
        }

    .mid-con {
        padding: 0 40px; /* Provide space for arrows */
    }
}

/* Scrollbar styles for Bootstrap dark background */
::-webkit-scrollbar {
    margin-top: 5px;
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: darkgrey;
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: black;
    }

::-webkit-scrollbar-corner {
    background-color: rgba(255, 255, 255, 0.05);
}
