body{
    overflow-x: hidden;
}

.cardbg {
    background-color: aliceblue;
}

#FormCol {
    max-height: 100px;
}

.icons {
    font-size: 32px;

}

.sma-text {
    font-size: 24px;
    font-family: Roboto;
    color: black;

}

.dropdown-icons{
    font-size: 22px;
    color: black;

}

.dropdown-menu{
    vertical-align: middle;
}
.dropdown-menu-right-adjust {
    transform: translateX(-20%);
}

    .dropdown-menu-right-adjust.show {
        right: 0;
        left: auto;
    }

/* Media query for responsive adjustments */
@media (max-width: 1200px){
    .home-img{
        max-width: 90%;
    }
}


@media (max-width: 768px) {
    .dropdown .dropdown-menu {
        left: auto;
        right: 0;
        max-width: 200px;
    }

    .headings2{
        font-size: calc(1ren + 1vw);
    }

    .home-img{
        max-width: 80%;
    }
}



.accordion-header{
    font-family: Meiryo;
}


/* Shared */
.text-family-main {
    font-family: Roboto;
    font-weight: 500;
}

.headings {
    font-weight: 600;
    font-family: Inter;
}

.headings2 {
    font-weight: 700;
    font-family: Inter;
    font-size: calc(0.7rem + 1.5vw);
}

.dSection {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.ht {
    max-height: 540px;
    overflow: hidden;
}

.ht {
    max-height: 100vw;
    overflow: scroll;
}

.profile-ico{
    max-height: 100%;
    max-width: auto;

}


.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

.footer-text {
    margin-bottom: 10px;
}

.footer .social-icons a {
    margin: 0 10px;
    color: #495057;
    font-size: 1.5rem;
}


.resText {
    font-size: calc(0.8rem + 1.3vw);
}

.XLSection {
    height: 100%;
    border: solid;
}

#FormFailure {
}


.scroll-container {
    max-height: calc(540px + 20vw);
    overflow-y: auto; /* Use auto instead of scroll */
    overflow-x: hidden;
}

    /* Customize scrollbar */
    .scroll-container::-webkit-scrollbar {
        width: 10px;
    }

    .scroll-container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
    }

        .scroll-container::-webkit-scrollbar-thumb:hover {
            background: none;
        }

.round-h {
    border-radius: 15px;
}