@{
    Layout = "_AdminLayout";
}

@model UsersModel

<head>
    <link href="/css/settings.css" rel="stylesheet" />
</head>
<div class="container">
    <h1 class="title text-center">Account Details</h1>
    <div class="card">
        <form action="" class="form-control px-5">
            <div class="mb-3"><span class="mb-2">Username</span><input type="text" value="@Model.Username" class="form-control "></div>
            <div class="mb-3"><span class="mb-2">Email</span><input type="text" value="@Model.Username" class="form-control "></div>
            <div class="mb-3"><span class="mb-2">Password</span><input type="text" value="@Model.Username" class="form-control "></div>
        </form>
    </div>
</div>>